/* FONTS */
@font-face {
	font-family: manrope vf;
	src: url(/assets/fonts/variable/ManropeGX.ttf) format("truetype-variations");
	font-style: normal;
	font-variation-settings:'wght' 500;
	font-variation-ligatures: normal;
	font-weight: 200 800;
	font-display: swap;
}
@font-face {
	font-family: Manrope;
	src: url(/assets/fonts/web/Manrope-ExtraLight.woff2) format("woff2");
	font-weight: 200;
	font-display: swap;
}
@font-face {
	font-family: Manrope;
	src: url(/assets/fonts/web/Manrope-Light.woff2) format("woff2");
	font-weight: 300;
	font-display: swap;
}
@font-face {
	font-family: Manrope;
	src: url(/assets/fonts/web/Manrope-Regular.woff2) format("woff2");
	font-weight: 400;
	font-display: swap;
}
@font-face {
	font-family: Manrope;
	src: url(/assets/fonts/web/Manrope-Medium.woff2) format("woff2");
	font-weight: 500;
	font-display: swap;
}
@font-face {
	font-family: Manrope;
	src: url(/assets/fonts/web/Manrope-SemiBold.woff2) format("woff2");
	font-weight: 600;
	font-display: swap;
}
@font-face {
	font-family: Manrope;
	src: url(/assets/fonts/web/Manrope-Bold.woff2) format("woff2");
	font-weight: 700;
	font-display: swap;
}
@font-face {
	font-family: Manrope;
	src: url(/assets/fonts/web/Manrope-ExtraBold.woff2) format("woff2");
	font-weight: 800;
	font-display: swap;
}

/* Google Icons */
@font-face {
	font-family: 'Material Icons Outlined';
	font-style: normal;
	font-weight: 400;
	src: url(/assets/fonts/web/MaterialIconsOutlined-Regular.woff2) format('woff2');
}
@font-face {
	font-family: 'Material Icons Outlined';
	font-style: normal;
	font-weight: 400;
	src: url(/assets/fonts/web/MaterialIconsOutlined-Regular.otf) format('otf');
}
.material-icons-outlined {
	font-family: 'Material Icons Outlined';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	line-height: 1;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	-webkit-font-feature-settings: 'liga';
	-webkit-font-smoothing: antialiased;
}

/* GLOBAL */
::selection {
	background-color: rgb(77 198 245 / 40%);
}
body,html,input {
	font-family: manrope vf,Manrope,-apple-system,BlinkMacSystemFont,Roboto,helvetica neue,sans-serif;
	font-variation-settings: 'wght' 500;
	font-size: calc(.18779vw + 11.29577px);
	margin: 0;
	max-width: 100vw;
	width: 100vw;
	
	overflow: overlay;
}
h1 {
	font-size: 3.34934535912974em;
	margin: 0;
}
h2 {
	font-size: 2.3445417514em;
	margin: 0;
}
* {
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	letter-spacing: calc(-.03058em + .44638px);
	font-weight: 600;
	scroll-behavior: smooth;
}
.noselect {
	-webkit-touch-callout:	none;
	-webkit-user-select:	none;
	-khtml-user-select:		none;
	-moz-user-select:		none;
	-ms-user-select:		none;
	user-select:			none;
}


.intro {
	font-size: 3.2665733037em;
	line-height: 1em;
	text-align: left;
	margin: 0 0 0 15vw;
	color: #f7f7f7;
}
.intro.dynamic {
	color: #ffffa9;
	display: inline-block;
	float: left;
	margin: 0;
}
.intro.hidden {
	color: #ffffa9;
	display: inline-block;
	float: left;
}
.intro.blink {
	margin: 0;
	animation: blink-animation 1.24s steps(5, start) infinite;
	-webkit-animation: blink-animation 1.24s steps(5, start) infinite;
}
.intro-root {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	text-align: center;
}
.copyright {
	font-size: 2.3894291102118608em;
	font-weight: 400;
}
.welcome {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}
.welcome video {
	transform: translate(calc(-50% + 50vw), calc(-50% + 50vh));
	min-width: 100%;
	min-height: 100%;
	z-index: -1;
}
/* js overrides for js effects */
.js .welcome {
	overflow: none;
}
.js .welcome video {
	position: fixed;
}

.work .title {
	margin: 1.5rem;
}

.work .container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.work .project {
	width: 50vw;
	height: calc(50vw * 0.5625);
	position: relative;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.work .project img {
	width: 100%;
	transform: scale(1);
	transition: 0.2s;
}
.work .project:hover img,
.work .project:focus img {
	transform: scale(1.1);
	filter: blur(4px);
	-webkit-filter: blur(4px);
}
.work .project .caption {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	padding: 2.5rem;
	transition: 0.2s;
	color: transparent;
}
.work .project:hover .caption,
.work .project:focus .caption {
	width: calc(100% - 5rem);
	height: calc(100% - 5rem);
	color: white;
	background-color: rgba(0, 0, 0, 0.7);
}

.work .project h1 {
	user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
}
.work .project:hover h1 {
	user-select: text;
	-ms-user-select: text;
	-moz-user-select: text;
}

.work .project h2 {
	text-align: center;
	color: transparent;
	border-top: 2px solid transparent;
	margin-top: 0.5rem;
	padding-top: 0.5rem;
	transition: 0.2s;
	user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
}
.work .project:hover h2 {
	color: #eaeaea;
	border-color: rgba(202, 202, 202, 0.801);
	user-select: text;
	-ms-user-select: text;
	-moz-user-select: text;
}


.caption .link.code {
	position: absolute;
	bottom: 0;
	left: calc(25vw - (5.75rem + 2px));
	margin-bottom: 3rem;
	padding: 0.75rem;
	border-radius: 0.5rem;
	background-color: rgb(82 82 82 / 41%);
	width: 10rem;
	text-align: center;
	border: 2px solid #dcdcdc;
	color: #dcdcdc;
	backdrop-filter: blur(8px);
	-webkit-backdrop-filter: blur(8px);
	transition: 0.2s;
	opacity: 0;
	user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
}

.caption .link.code:lang(it) {
	left: calc(25vw - (8.75rem + 2px));
	width: 16rem;
}

.caption .link.code i {
	position: relative;
    top: calc(1.8119224497rem / 2 * 0.4);
	margin-right: 0.67rem;
	user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
}

.work .project:hover .caption .link.code,
.work .project:focus .caption .link.code {
	opacity: 1;
	user-select: text;
	-ms-user-select: text;
	-moz-user-select: text;
}

.work .project:hover .caption .link.code:hover {
    border-color: #d7f0e6;
    box-shadow: 0 0 10px #d7f0e6;
    text-shadow: 0 0 12px #d7f0e6;
}

.caption h1 {
	text-align: center;
}
.caption h2 {
	text-align: center;
}

.aboutme {
	padding: 2rem;
}

.contact {
	padding: 0 2rem 2rem 2rem;
}

.contact a {
	position: relative;
    top: calc(1.8119224497rem / 2 * 0.5);
	background-color: #f7f7f7;
    display: block;
    padding: 1rem;
    margin-top: 1rem;
    width: 12rem;
    border-radius: 0.75rem;
	box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);
}
.contact a:hover {
	background-color: #e7e7e7;
}
.contact a:active {
	box-shadow: 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%), 0 2px 4px -1px rgb(0 0 0 / 20%);
}

.contact i {
	position: relative;
    top: calc(1.8119224497rem / 2 * 0.3);
	margin-right: 0.67rem;
	user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
}

.contact i.github {
	color: transparent;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2424' enable-background='new 0 0 24 24'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' fill='%23181616' d='M 12 0 c -6.64 0 -12 5.36 -12 12 c 0 5.28 3.44 9.76 8.24 11.36 c 0.64 0.08 0.8 -0.24 0.8 -0.56 v -2.08 c -3.36 0.72 -4.08 -1.6 -4.08 -1.6 c -0.56 -1.36 -1.36 -1.76 -1.36 -1.76 c -1.12 -0.72 0.08 -0.72 0.08 -0.72 c 1.2 0.08 1.84 1.2 1.84 1.2 c 1.04 1.84 2.8 1.28 3.52 0.96 c 0.08 -0.8 0.4 -1.28 0.8 -1.6 c -2.64 -0.32 -5.44 -1.36 -5.44 -5.92 c 0 -1.28 0.48 -2.4 1.2 -3.2 c -0.16 -0.32 -0.56 -1.52 0.08 -3.2 c 0 0 1.04 -0.32 3.28 1.2 c 0.96 -0.24 2 -0.4 3.04 -0.4 c 1.04 0 2.08 0.16 3.04 0.4 c 2.32 -1.52 3.28 -1.2 3.28 -1.2 c 0.64 1.68 0.24 2.88 0.08 3.2 c 0.8 0.8 1.2 1.92 1.2 3.2 c 0 4.64 -2.8 5.6 -5.44 5.92 c 0.4 0.4 0.8 1.12 0.8 2.24 v 3.28 c 0 0.32 0.24 0.72 0.8 0.56 c 4.8 -1.6 8.16 -6.08 8.16 -11.36 C 24 5.36 18.64 0 12 0 z'/%3E%3C/svg%3E");
	margin-right: 0;
}

.footer {
	padding: 2rem;
	background-color: #1c3458;
	color: #dee3ea;
}

/* BLINK ANIMATION */
@keyframes blink-animation {
	to {
		visibility: hidden;
	}
}
@-webkit-keyframes blink-animation {
	to {
		visibility: hidden;
	}
}

@keyframes slideInLeft {
	0% {
		transform: translateY(1rem);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@-webkit-keyframes slideInLeft {
	0% {
		transform: translateY(1rem);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

.pop-in {
	animation: 0.5s ease-out 0s 1 slideInLeft;
}
.nodraw, .intro.nodraw {
	display: none;
}

.title {
	font-weight: 700;
	font-variation-settings: 'wght' 700;
}

.about {
	margin: 1rem 0 0 0;
	font-size: 1.4rem;
}

a, a:visited {
	text-decoration: none;
	color: #505050;
	transition: 0.2s;
	font-size: 1.3289377436867924em;
}
a:hover, a:active, a:focus {
	color: #272727;
	font-weight: 900;
	font-variation-settings: 'wght' 900;
}

/* scrollbar */
::-webkit-scrollbar {
	width: 10px;
}
::-webkit-scrollbar-track {
	background: transparent;
}
::-webkit-scrollbar-thumb {
	background: #888;
	transition: 0.2s;
}
::-webkit-scrollbar-thumb:hover {
	background: #555;
}

/* mobile css */
@media screen and (max-width: 1000px) {

	/* smaller intro font size on mobile */
	.intro {
		font-size: 2.2665733037em;
	}

	/* fixed??
	hide blinking caret on phones because im too lazy to fix wordwrap 
	.intro.blink {
		display: none;
	}
	*/
	/* center view code link */
	.caption .link.code {
		left: calc(50vw - (5.75rem + 2px));
	}
	.caption .link.code:lang(it) {
		left: calc(50vw - (8.75rem + 2px));
	}
	/* one column in carousel rather than 2 */
	.caption h1 {
		font-size: 2.3894291102118608em;
	}
	.caption h2 {
		font-size: 1.6726003771em;
	}
	.work .project {
		width: 100vw;
		height: calc(100vw * 0.5625);
	}
}
/* tiny af screens */
@media screen and (max-width: 361px) {
	.intro {
		font-size: 1.5665733037em;
		line-height: 0.5em;
	}
}


/* override scroll bars on firefox */
@-moz-document url-prefix() {
	body {
		overflow-x: hidden;
		overflow-y: scroll;
	}
}